<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120327891713-dt0ht3v1s364jm1d7ii27ii8vq2jgldv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120327891713-dt0ht3v1s364jm1d7ii27ii8vq2jgldv</string>
	<key>API_KEY</key>
	<string>AIzaSyAYNCkvAgLQrDLdWM0BabVyH6blHPimTj0</string>
	<key>GCM_SENDER_ID</key>
	<string>120327891713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matthewramos.Gameify</string>
	<key>PROJECT_ID</key>
	<string>gameify-5abf8</string>
	<key>STORAGE_BUCKET</key>
	<string>gameify-5abf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120327891713:ios:3946c95a61f97eb008c900</string>
	<key>DATABASE_URL</key>
	<string>https://gameify-5abf8.firebaseio.com</string>
</dict>
</plist>